h1
{
	font-family:Burbank Big Condensed, arial, verdana, sans-serif;
     color: white;
}

h2
{

    font-family:Burbank Big Condensed, arial, verdana, sans-serif;
    color: white;

}

p
{

   font-family:Burbank Big Condensed, arial, verdana, sans-serif;
   color: white;

}

body
{
	background-color: black;
}

#page
{

	width:800px;
	margin:0 auto;
	background-color: black;
	text-align: center;
	align-content: center;

}
